/* css 리셋 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 공통 */
* {
    font-family: 'Gowun Dodum', sans-serif;
    box-sizing: border-box;
}

.hide,
.hide * {
    position: absolute;
    display: none;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
body {
    background-color: #abc1d1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 헤더 */
header {
    position: sticky;
    top: 0px;
    padding: 10px 20px;
    background-color: #abc1d1;
    z-index: 2;
}

/* container */
main {
    overflow: hidden;
}

/* 드롭다운 */
.dropDownBox {
    background-color: white;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 80px;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
}
.dropDownBox img:last-child {
    transition: all ease-in-out 0.5s;
}

.dropDownBox.active {
    height: 100%;
}
.dropDownBox.active img:last-child {
    transform: rotate(180deg);
}

/* 채팅 */
.chat {
    width: 100%;
}

.chat__main {
    min-height: calc(100vh - 165px);
    padding: 0 20px;
}

.warning {
    background-color: #80808032;
    padding: 20px;
    text-align: center;
    line-height: 120%;
    color: #4d6678;
    margin-bottom: 20px;
}

.massage {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.profileImg {
    width: 55px;
    height: 55px;
    background-image: url('./img.k.JPG');
    background-position: center center;
    background-size: cover;
    border-radius: 40%;
    margin-right: 15px;
}
.massageAuthor {
    opacity: 0.8;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
.messageInfo {
    display: flex;
    align-items: flex-end;
}

.massageBubble {
    background-color: white;
    padding: 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
    font-size: 18px;
    line-height: 120%;
}

.massage.own {
    justify-content: flex-end;
}
.massage.own .massageBubble {
    background-color: #fae100;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    margin-right: 0px;
    margin-left: 5px;
}
.massage.own .messageInfo {
    flex-direction: row-reverse;
}

/* toggleHistory */
.toggleHistory {
    position: fixed;
    right: 16px;
    bottom: 54px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    z-index: 3;
    transition: background 0.5s linear;
}
.toggleHistory:hover {
    background-color: #fae100;
    outline: 1px solid black;
}

/* history */
#history {
    top: 0;
    left: 0;
    background-color: #fae100;
    right: 0;
    position: fixed;
    z-index: 2;
    transform: translateY(-100%);
    transition: all linear 0.5s;
}

.history__chat {
    padding: 40px;
    min-height: calc(100vh - 50px);
}
#history * {
    opacity: 0;
    transition: all linear 0.5s;
}

#history.active {
    transform: translateY(0);
    background-color: #abc1d1;
}
#history.active * {
    opacity: 1;
}

/* 애니메이션 */
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.massage * {
    animation: fadein 0.5s linear;
}
