* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    height: 100%;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding-top: 100px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40x;
    padding: 1rem;
    background: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header>a>h1 {
    font-size: 20px;
    color: black;
}

#scoll_move_box {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-right: 18px;
    padding-right: 20px;
}


#scoll_move_box>li>a {
    text-decoration-line: none;
    color: black;
    padding-right: 30px;
    /* 줄바뀜 방지 */
    white-space: nowrap;
}

/* 스와이퍼 슬라이드 부분 */
.swiper {
    margin-top: 50px;
    width: 800px;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#div2 {
    /* background-color: blue; */
    width: 800px;
    margin: 300px auto 0 auto;
}

#div2>h1 {
    text-align: center;
    line-height: 300%
}

#div2>h2 {
    font-size: 20px;
}

#div2 p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 150%
}

#div3 {
    width: 600px;
    margin: 200px auto 20px auto;
}

#div3>img {
    width: 300px;
    margin-left: 150px;
}

#hashtags {
    margin-top: 50px;
    width: 600px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    line-height: 200%
}

#div3>#hashtags>p {
    margin-top: 20px;
    color: dodgerblue;
}

#div4 {
    width: 1000px;
    margin: 100px auto 100px auto;
    display: flex;
    flex-direction: row;
}

#div4>div>h1 {
    background-image: url("collaboration.jpg");
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 380px;
    text-align: center;
    padding-top: 150px;
    margin: 0 auto 0 auto;
    font-size: 50px;
    color: white;
}

#div4>div {
    margin-right: 20px;
}

#div4>#text {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 200%
}

#wrap_link {
    width: 400px;
    margin: 150px auto 150px auto;
    
}

#blog_link {
    width: 400px;
    height: 80px;
    background-color: #047c74;
    color: #fff;
    font-size: 22px;
    border: 1px solid #047c78;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

#blog_link:hover {
    background-color: #022d2b;
    color: white;
    border: 1px solid #111;
}


#div5 {
    text-align: center;
    width: 600px;
    margin: 100px auto 20px auto;
}

.guestbook {
    width: 600px;
    height: 250px;
    padding: 20px;
    border: 1px solid lightsteelblue;
    margin-top: 20px;
}

.guestbook>button {
    width: 100%;
    text-align: center;
}

#wrap_cards {
    width: 640px;
    margin: 0 auto 0 auto;

}
.card {
    margin-bottom: 10px;
}

.btn.btn-light{
margin: 0px 0 0 88%;
}

#move_top {
    font-size: 20px;
    position: fixed;
    right: 2%;
    bottom: 50px;
    display: none;
    z-index: 999;
    text-decoration-line: none;
    color: #000;
}

footer {
    /* footer를 aside위에 올리기 위해 사용(부유객체) */
    position: absolute;
    height: 60px;
    width: 100%;
    padding: 0 25px;
    line-height: 60px;
    color: #111;
    border-top: 1px solid #dee5e7;
    background-color: #fff;
}